body{
    font-family: "Overpass", sans-serif;
}

nav{
    background-color: rgb(255, 126, 139);
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}

.box{
    border-color: rgb(117, 117, 117);
    border-width: 10px;
    border-style:solid;
    display: inline-block;
    padding: 40px;
    margin-top: 80px;
    margin-left: 50px;
    text-align: center;
    border-radius: 50px;
}

.box img{
    border-radius: 25px;
}

.box:hover{
 background-color: rgb(81, 81, 81);
 color: white;
}

.box button{
    background-color:rgb(255, 126, 139);
    padding: 20px;
    font-family: "Overpass", sans-serif;
    border-radius: 25px;
}

.log{ 
    background-color: black;
    color: white;
    text-align: center;  
    display:block;
    margin-top: 50px;
    padding: 5px;
}
 .one__button {
    background-color: rgb(255, 163, 163);
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center; 
    margin-top: 10px;
    font-family: "Overpass", sans-serif;
    border-radius: 15px;
 }
